*{
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background-color: whitesmoke;
    
}
.headerbox{
    flex: 40%;
}
.navbar  header{
    text-align: left;
    color: black;
}

.abox{
    flex: 60%;
    flex-direction: row-reverse;
    
}
.abox li{
    float: right;
    text-decoration: none;
    display: flex;
}


.abox li a{
    float: right;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.abox li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
  }

.abox .active{
    background-color: rgb(141, 137, 137);
}



.row{
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 5px;
    padding:10px;
    background-color: wheat;
}

.box3{
    border-style: solid;
    border-radius: 7px;
    background-color: white;
    padding: 5 px;
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 20px;
}


ul.a{
    list-style-type: square;
     flex-direction: column;
    
}

.box4{
    border-style: solid;
    border-radius: 7px;
    background-color: white;
    padding: 20px;
    width: 80%; 
    height: auto;
    margin: 20px;
}


#table {
    
    
    border-collapse: collapse;
    width: 80%;
    
    margin: 20px;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
  }
  
  #table tr:hover {background-color: #f5f5f5;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
    width: 25%;
  }