
    @font-face {
        font-family: 'webfont';
        font-display: swap;
        src: url('//at.alicdn.com/t/webfont_26iwsfpiqb2.eot'); /* IE9*/
        src: url('//at.alicdn.com/t/webfont_26iwsfpiqb2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//at.alicdn.com/t/webfont_26iwsfpiqb2.woff2') format('woff2'),
        url('//at.alicdn.com/t/webfont_26iwsfpiqb2.woff') format('woff'), /* chrome、firefox */
        url('//at.alicdn.com/t/webfont_26iwsfpiqb2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('//at.alicdn.com/t/webfont_26iwsfpiqb2.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
      }


.use{
    font-size: 20px;
    font-family: 'wenfont'!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}