*{
    box-sizing: border-box;
}
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}
@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('../webfont_i29fhglu4b/webfont.eot'); /* IE9 */
    src: url('../webfont_i29fhglu4b/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfont_i29fhglu4b/webfont.woff2') format('woff2'),
    url('../webfont_i29fhglu4b/webfont.woff') format('woff'), /* chrome、firefox */
    url('../webfont_i29fhglu4b/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../webfont_i29fhglu4b/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font {
    font-family: "webfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.but{
    background-color: whitesmoke;
    height: 20px;
    text-align: center;
}
.cover{
    display: flex;
    background-color: whitesmoke;
    height: 615px;
    /* position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden; */
}
.pic{
    flex: 50%;
    background-image: url("../image/calculato.png");
    background-repeat: no-repeat;
    background-position: center;
}
.intro{
    flex: 50%;
    border: solid;
    border-color: #ddd;
    padding: 10px;
}
.navbar{
    display: flex;
    background-color: whitesmoke;
    
    /* position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden; */
}
.headerbox{
    flex: 40%;
}
.navbar  header{
    
    text-align: left;
    color: black;
}
.abox{
    flex: 60%;
    flex-direction: row-reverse;
    /*display: flex;*/
}
li {
    float: right;
    list-style-type:none;
    display: flex;
  }
  
li a{
    float: right;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
li a:hover:not(.active){
    background-color: #ddd;
    color: black;
  }

.active{
    background-color: rgb(141, 137, 137);
}














.row{
    display: flex;
    flex-wrap: wrap;
    
}

.side{
    flex: 30%;
    background-color: wheat;
    padding: 20px;
    
}

.right{
    flex: 70%;
    background-color: antiquewhite;
    padding: 20px;
    
    
}

.box1{
    border-style: solid;
    border-radius: 7px;
    background-color: white;
    padding: 5px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
}

.apply{
    border-style: solid;
    border-radius: 5px;
    padding:10px;
    margin: 20px;
}
.right .box2{
    width: 60%;
}
.box2{
    border-style: solid;
    border-radius: 7px;
    background-color: white;
    padding: 5 px;
    display: flex;
    width: 80%;
    
    flex-direction: column;
    margin: 20px;
    float: left;
}
.box2 .h2{
    width: 100%;
}
.box3{
    float: left;
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 90%;
}
.aboutme{
    float: left;
    border-style: solid;
    background-color: white;
    
    margin: 20px;
    width: 90%;
}
.box2 .aboutme{
    float: right;
    border-style: solid;
    background-color: white;
    
    margin: 20px;
    width: 30%;
}
.game{
    border-style: solid;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
}

.a{
  
        text-decoration: none;
        color: black;
}

.introduce{
    color: #000;
    font-size: 80%;
    text-indent: 5%;
}



.aboutme img{
    width: 100px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
}