

<script id="users" type="text/template">
    <% if (names.length) { %>
      <ul>
        <% names.forEach(function(name){ %>
          <li><%= name %></li>
        <% }) %>
      </ul>
    <% } %>
  </script>