<html>
  <head>
    <script src="js/ejs.js"></script>
    <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
    <script id="blog" type="text/template">
      <h1> <%= title %> </h1>
      <p> <%= content %> </p>
      <ul>
      <% links.forEach(function(link){ %>
        <li><%= link %></li>
      <% }) %>
      </ul>
    </script>
    <script>
      onload = function(){
        var blog = document.getElementById('blog').innerHTML;
        $.get("test.json",function(data,status){
           
          var html = ejs.render(blog,data); 
        });
          document.body.innerHTML = html;
      }
        
      
    </script>
  </head>
  <body>
  </body>
</html>
